<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="FirstSolution.Tests.Properties.Settings.FirstSampleConnectionString"
      connectionString="Data Source=|DataDirectory|\FirstSample.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>-->
  <system.data>
    <DbProviderFactories>
      <clear/>
      <!--<add name="SQL Server CE Data Provider"
           invariant="Microsoft.SqlServerCe.Client"
           description=".NET Framework Data Provider for Microsoft SQL Server 2005 Mobile Edition"
           type="Microsoft.SqlServerCe.Client.SqlCeClientFactory, Microsoft.SqlServerCe.Client"/>-->
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description="My first SQLite Database."
           type="System.Data.SQLite.SQLiteFactory,System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
