<Settings>

    <!-- 数据源配置 -->
    <add key="DataSources">
        <ArrayOfDataSource xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

            <!-- 远程库 -->
            <DataSource>
                <Name>RemoteDatabase</Name>
                <Driver>Acl.Data.OracleClient</Driver>
                <DbType>1</DbType>
                <Url>
                    User ID=soctt; Password=password; MAX POOL SIZE=20;Connection Timeout=3;Data Source= (DESCRIPTION =
                    (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 9.16.210.79)(PORT = 1521))
                    (ADDRESS = (PROTOCOL = TCP)(HOST = 9.20.210.79)(PORT = 1521)))
                    (CONNECT_DATA = (SERVICE_NAME = orcl)));
                </Url>
                <Entities></Entities>
            </DataSource>

            <!-- 本地：静态配置表默认存放库 -->
            <DataSource>
                <Name>SqliteDb4StaticConfigTables</Name>
                <Driver>System.Data.SQLite</Driver>
                <DbType>20</DbType>
                <Url>Data Source=sqlite\config.static.db;Journal Mode=WAL</Url>
                <Entities>SystemNode, SysEvent, PluginLoadingConfig</Entities>
            </DataSource>

            <!-- 本地：动态配置表默认存放库 -->
            <DataSource>
                <Name>SqliteDb4DynamicConfigTables</Name>
                <Driver>System.Data.SQLite</Driver>
                <DbType>20</DbType>
                <Url>Data Source=sqlite\config.dynamic.db;Journal Mode=WAL;</Url>
                <Entities></Entities>
            </DataSource>

            <!-- 本地：系统事件日志库 -->
            <DataSource>
                <Name>SqliteDb.EventLogs</Name>
                <Driver>System.Data.SQLite</Driver>
                <DbType>20</DbType>
                <Url>Data Source=sqlite\log.sysevents.db;Journal Mode=WAL;</Url>
                <Entities>SysEventLog</Entities>
            </DataSource>
            <!-- DateTimeFormat=InvariantCulture;DateTimeFormatString=yyyy-MM-dd HH:mm:ss.fff -->

            <!-- 本地：操作记录日志库 -->
            <DataSource>
                <Name>SqliteDb.OperationLogs</Name>
                <Driver>System.Data.SQLite</Driver>
                <DbType>20</DbType>
                <Url>Data Source=sqlite\log.operations.db;Journal Mode=WAL</Url>
                <Entities>OperationLog</Entities>
            </DataSource>

            <!-- 本地：UAC库 -->
            <DataSource>
                <Name>SqliteDb.UAC</Name>
                <Driver>System.Data.SQLite</Driver>
                <DbType>20</DbType>
                <Url>Data Source=sqlite\uac.db;Journal Mode=WAL;</Url>
                <Entities>User</Entities>
            </DataSource>

            <!-- 本地：CSV格式的数据 -->
            <DataSource>
                <Name>CsvDb</Name>
                <Driver>Acl.Data.Csv.CsvFile</Driver>
                <DbType>32</DbType>
                <Url>Data\CSV\CollectionPoints.ini</Url>
                <Entities>IoCollectionPoint</Entities>
            </DataSource>

        </ArrayOfDataSource>
    </add>

    <!-- 静态配置数据。
        此类数据在程序运行时保存在内存中，只允许查询，不允许增删改。 -->
    <add key="StaticConfigEntityNames"
         value="SystemNode,PluginLoadingConfig, IoCollectionPoint"/>

    <!-- 动态配置数据。
            程序启动时：将远程动态配置表下载到本地。 
        远程库连接时：此类表允许增删改查。
        远程库断开后：此类表只允许查询，不允许修改。-->
    <add key="DynamicConfigEntityNames"
         value="SysEvent, User" />

    <!-- 日志数据（数据有效期为1年）。
         远程库连接时：此类表允许查询与增加，不允许修改与删除。
         远程库断开后：此类表数据需要保存到本地库。
         远程库恢复后：将本地数据上传到远程数据库。-->
    <add key="LogTableEntityNames"
         value="OperationLog,SysEventLog" />

</Settings>