<Settings>

  <!-- 数据源配置 -->
  <add key="DataSources">
    <ArrayOfDataSource xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
     
       <DataSource>
        <Name>RemoteDatabase</Name>
        <Driver>Acl.Data.OracleClient</Driver>
        <Url>User ID=soctt; Password=password; MAX POOL SIZE=20;Connection Timeout=3;Data Source= (DESCRIPTION =
          (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 9.16.210.79)(PORT = 1521))
          (ADDRESS = (PROTOCOL = TCP)(HOST = 9.20.210.79)(PORT = 1521)))
          (CONNECT_DATA = (SERVICE_NAME = orcl)));</Url>
      </DataSource>

      <DataSource>
        <Name>SqliteDb4StaticConfigTables</Name>
        <Driver>System.Data.SQLite</Driver>
        <Url>Data Source=local.config.static.db;Journal Mode=WAL;</Url>
      </DataSource>

      <DataSource>
        <Name>SqliteDb4DynamicConfigTables</Name>
        <Driver>System.Data.SQLite</Driver>
        <Url>Data Source=local.config.dynamic.db;Journal Mode=WAL;</Url>
      </DataSource>
      
      <DataSource>
        <Name>SqliteDb.EventLogs</Name>
        <Driver>System.Data.SQLite</Driver>
        <Url>Data Source=local.log.sysevents.db;Journal Mode=WAL;</Url>
      </DataSource>      
      
      <DataSource>
        <Name>SqliteDb.OperationLogs</Name>
        <Driver>System.Data.SQLite</Driver>
        <Url>Data Source=local.log.operations.db;Journal Mode=WAL;</Url>
      </DataSource>

    </ArrayOfDataSource>
  </add>

  <!-- 静态配置表。
        此类表在程序运行时保存在内存中，只允许查询，不允许添加，修改与删除。 -->
  <add key="StaticConfigTableNames"
       value=""/>

  <!-- 动态配置表。
        程序启动时：将远程数据下载本地。 
        远程数据库连接时：允许增删改查远程数据库。
        远程数据库断开后：只允许查询本地数据库，不允许修改本地数据库。-->
  <add key="DynamicConfigTableNames"
       value="" />

  <!-- 日志表。
         远程数据库连接时：允许查询与增加，不允许修改与删除。
         远程数据库断开后：这些表的数据需要保存到本地库。
         远程数据库恢复后：将本地数据上传到远程数据库。-->
  <add key="LogTableNames"
       value="SysEventLog" />

</Settings>