<?xml version="1.0"?>
<configuration>
    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    
    <userSettings>
        <WindowsApplication.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>BJM15ATS</value>
            </setting>
        </WindowsApplication.Properties.Settings>
    </userSettings>
    
    <applicationSettings>
        <WindowsApplication.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>192.168.3.163</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8100</value>
            </setting>
        </WindowsApplication.Properties.Settings>
    </applicationSettings>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
