<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="RdtNetwork" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

 
  <connectionStrings>
    <add providerName ="System.Data.OracleClient" name="ConnectionString" connectionString="Data Source=SecondStage; User Id=SIL2;Password=SIL2;"/>
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners >
        <add  type="System.Diagnostics.TextWriterTraceListener" name="OSGi" initializeData="OSGi.log.txt">
        
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="System.Data.OracleClient"
           invariant="System.Data.OracleClient"
           description="ddd"  type="System.Data.OracleClient.OracleClientFactory,System.Data.OracleClient"/>
    </DbProviderFactories>
  </system.data>
  
  
  <appSettings>
    <!-- 程序运行日志的有效天数，默认值15。 -->
    <add key="AppLogFileExpiredDays" value="15"/>
    
    <!-- x86系统下需要注册的COM -->
    <add key="COM_X86" value="" />

    <!-- x64系统下需要注册的COM -->
    <add key="COM_X64" value="" />

  </appSettings>

</configuration>
