<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="urn:Platform-Menu-1.0">
  
  <!-- 主菜单配置-->
  <MenuStrip Id="Server.MenuStrip">
    <MenuSet Id="File" Text="操作(&amp;O)">
      <MenuItem Id="mnuOpenExeFolder" Text="打开程序所在目录(&amp;O)" Handler="Local://MenuMessageHandler/OpenExeFolder"/>
      <Separator/>
      <MenuItem Id="mnuExit" Text="退出(&amp;X)" Handler="Local://MenuMessageHandler/ExitApplication"/>
    </MenuSet>
    
    <MenuSet Id="mnuView" Text="视图(&amp;V)">
    </MenuSet>
    
    <MenuSet Id="mnuOption" Text="选项(&amp;P)">
      <MenuItem Id="mnuPreferenced" Text="参数设置..." Handler="Local://MenuMessageHandler/Settings"/>
    </MenuSet>
        
    <MenuSet Id="mnuHelp" Text="帮助(&amp;H)">
      <MenuItem Id="mnuAbout" Text="关于(&amp;A)" Handler="Local://MenuMessageHandler/About"/>
    </MenuSet>
    
  </MenuStrip>

  <!-- 状态栏配置-->
  <StatusStrip Id="Server.StatusStrip">
    <MenuItem Id="mnuReady" Text="Ready" Width="281" Height="17"  Spring ="true" TextAlign="MiddleLeft" />
    <MenuItem Id="mnuEmpty1"  Text="   " />

    <MenuItem Id="labelLanuchTime"  Text="[启动时间: yyyy-mm-dd HH:MM:SS]"/>
    <MenuItem Id="labelVersion"  Text="[版本号]"/>
    <MenuItem Id="labelProductName" Text="[产品名称]"/>

  </StatusStrip>
    
</Configuration>