# ProjectName代码样式配置。

# NOTE: Requires **VS2019 16.3** or later

# 如果要从更高级别的目录继承 .editorconfig 设置，请删除以下行
root = true

# c# 文件
[*.cs]

#### Core EditorConfig 选项 ####

# 缩进和间距
indent_size = 4
indent_style = space
tab_width = 4

# 新行首选项
end_of_line = crlf
insert_final_newline = false

#### .NET 编码约定 ####

# 组织 Using
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true
file_header_template = unset

# this. 和 Me. 首选项
dotnet_style_qualification_for_event = true:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = true:silent
dotnet_style_qualification_for_property = true:silent

# 语言关键字与 bcl 类型首选项
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent

# 括号首选项
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent

# 修饰符首选项
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# 表达式级首选项
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion

# 字段首选项
dotnet_style_readonly_field = true:suggestion

# 参数首选项
dotnet_code_quality_unused_parameters = all:suggestion

#### c# 编码约定 ####

# var 首选项
csharp_style_var_elsewhere = false:silent
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = false:silent

# Expression-bodied 成员
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent

# 模式匹配首选项
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion

# Null 检查首选项
csharp_style_conditional_delegate_call = true:suggestion

# 修饰符首选项
csharp_prefer_static_local_function = true:suggestion
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:silent

# 代码块首选项
csharp_prefer_braces = true:silent
csharp_prefer_simple_using_statement = true:suggestion

# 表达式级首选项
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent

# "using" 指令首选项
csharp_using_directive_placement = outside_namespace:silent

#### C# 格式规则 ####

# 新行首选项
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# 缩进首选项
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = no_change
csharp_indent_switch_labels = true

# 空格键首选项
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# 包装首选项
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

#### 命名样式 ####

# 命名规则

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# 符号规范

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# 命名样式

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case





# ProjectName静态分析规则
# Description: ProjectName静态分析规则配置。

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1000.severity = warning

dotnet_diagnostic.CA1001.severity = error

dotnet_diagnostic.CA1003.severity = warning

dotnet_diagnostic.CA1004.severity = warning

dotnet_diagnostic.CA1005.severity = warning

dotnet_diagnostic.CA1007.severity = warning

dotnet_diagnostic.CA1008.severity = warning

dotnet_diagnostic.CA1009.severity = warning

dotnet_diagnostic.CA1012.severity = error

dotnet_diagnostic.CA1013.severity = warning

dotnet_diagnostic.CA1016.severity = warning

dotnet_diagnostic.CA1017.severity = warning

dotnet_diagnostic.CA1018.severity = warning

dotnet_diagnostic.CA1023.severity = warning

dotnet_diagnostic.CA1025.severity = warning

dotnet_diagnostic.CA1032.severity = error

dotnet_diagnostic.CA1036.severity = warning

dotnet_diagnostic.CA1038.severity = warning

dotnet_diagnostic.CA1039.severity = warning

dotnet_diagnostic.CA1040.severity = warning

dotnet_diagnostic.CA1043.severity = warning

dotnet_diagnostic.CA1044.severity = error

dotnet_diagnostic.CA1045.severity = warning

dotnet_diagnostic.CA1047.severity = error

dotnet_diagnostic.CA1048.severity = error

dotnet_diagnostic.CA1049.severity = warning

dotnet_diagnostic.CA1050.severity = error

dotnet_diagnostic.CA1051.severity = error

dotnet_diagnostic.CA1052.severity = warning

dotnet_diagnostic.CA1053.severity = warning

dotnet_diagnostic.CA1058.severity = warning

dotnet_diagnostic.CA1060.severity = none

dotnet_diagnostic.CA1061.severity = warning

dotnet_diagnostic.CA1063.severity = error

dotnet_diagnostic.CA1064.severity = error

dotnet_diagnostic.CA1065.severity = error

dotnet_diagnostic.CA1401.severity = warning

dotnet_diagnostic.CA1402.severity = warning

dotnet_diagnostic.CA1403.severity = warning

dotnet_diagnostic.CA1404.severity = warning

dotnet_diagnostic.CA1405.severity = warning

dotnet_diagnostic.CA1407.severity = warning

dotnet_diagnostic.CA1414.severity = warning

dotnet_diagnostic.CA1500.severity = warning

dotnet_diagnostic.CA1501.severity = none

dotnet_diagnostic.CA1502.severity = none

dotnet_diagnostic.CA1504.severity = warning

dotnet_diagnostic.CA1600.severity = warning

dotnet_diagnostic.CA1601.severity = warning

dotnet_diagnostic.CA1700.severity = error

dotnet_diagnostic.CA1708.severity = warning

dotnet_diagnostic.CA1710.severity = warning

dotnet_diagnostic.CA1711.severity = warning

dotnet_diagnostic.CA1712.severity = warning

dotnet_diagnostic.CA1713.severity = warning

dotnet_diagnostic.CA1714.severity = warning

dotnet_diagnostic.CA1715.severity = warning

dotnet_diagnostic.CA1716.severity = warning

dotnet_diagnostic.CA1719.severity = error

dotnet_diagnostic.CA1725.severity = warning

dotnet_diagnostic.CA1726.severity = warning

dotnet_diagnostic.CA1802.severity = warning

dotnet_diagnostic.CA1804.severity = error

dotnet_diagnostic.CA1815.severity = warning

dotnet_diagnostic.CA1816.severity = warning

dotnet_diagnostic.CA1820.severity = warning

dotnet_diagnostic.CA1823.severity = warning

dotnet_diagnostic.CA2001.severity = warning

dotnet_diagnostic.CA2002.severity = error

dotnet_diagnostic.CA2003.severity = warning

dotnet_diagnostic.CA2004.severity = warning

dotnet_diagnostic.CA2006.severity = warning

dotnet_diagnostic.CA2104.severity = warning

dotnet_diagnostic.CA2105.severity = warning

dotnet_diagnostic.CA2109.severity = warning

dotnet_diagnostic.CA2121.severity = error

dotnet_diagnostic.CA2200.severity = warning

dotnet_diagnostic.CA2202.severity = warning

dotnet_diagnostic.CA2205.severity = warning

dotnet_diagnostic.CA2207.severity = warning

dotnet_diagnostic.CA2214.severity = error

dotnet_diagnostic.CA2215.severity = error

dotnet_diagnostic.CA2216.severity = warning

dotnet_diagnostic.CA2218.severity = warning

dotnet_diagnostic.CA2219.severity = warning

dotnet_diagnostic.CA2222.severity = warning

dotnet_diagnostic.CA2223.severity = warning

dotnet_diagnostic.CA2224.severity = error

dotnet_diagnostic.CA2226.severity = error

dotnet_diagnostic.CA2229.severity = warning

dotnet_diagnostic.CA2230.severity = warning

dotnet_diagnostic.CA2231.severity = error

dotnet_diagnostic.CA2234.severity = warning

dotnet_diagnostic.CA2241.severity = warning

# CA1819: 属性不应返回数组
dotnet_diagnostic.CA1819.severity = none

# CA1824: 用 NeutralResourcesLanguageAttribute 标记程序集
dotnet_diagnostic.CA1824.severity = none

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1801: 从未用过方法 Main 的参数 args。请删除该参数或在方法体中使用它。
dotnet_diagnostic.CA1801.severity = none

# CA1707: 从成员名称 Products.Ats.Infrastructure.Business.Types.AlarmType.CI_SwitchForcingOpen 中删除下划线。
dotnet_diagnostic.CA1707.severity = none

# CA1062: 验证公共方法的参数
dotnet_diagnostic.CA1062.severity = none

# CA1034: 嵌套类型应不可见
dotnet_diagnostic.CA1034.severity = none

# CA1041: 提供 ObsoleteAttribute 消息
dotnet_diagnostic.CA1041.severity = none

# CA1717: 只有 FlagsAttribute 枚举应采用复数形式的名称
dotnet_diagnostic.CA1717.severity = none

# CA1810: 以内联方式初始化引用类型的静态字段
dotnet_diagnostic.CA1810.severity = none

# CA1028: 枚举存储应为 Int32
dotnet_diagnostic.CA1028.severity = none

# CA1303: 请不要将文本作为本地化参数传递
dotnet_diagnostic.CA1303.severity = none

# CA2227: 集合属性应为只读
dotnet_diagnostic.CA2227.severity = none

# CA2208: 正确实例化参数异常
dotnet_diagnostic.CA2208.severity = none

# CA1031: 不捕获常规异常类型
dotnet_diagnostic.CA1031.severity = none

# CA1724: 类型名 DeviceState 与命名空间名称“Products.Ats.Infrastructure.Business.DeviceState”整体或部分冲突。请更改其中任一名称以消除冲突。
dotnet_diagnostic.CA1724.severity = none

# CA1822: 成员 GetService 不访问实例数据，可标记为 static (在 Visual Basic 中为 Shared)
dotnet_diagnostic.CA1822.severity = none

# CA2000: 丢失范围之前释放对象
dotnet_diagnostic.CA2000.severity = none

# CA2237: 将 ISerializable 类型标记为“可序列化”
dotnet_diagnostic.CA2237.severity = none

# CA1721: 属性名不应与 get 方法匹配
dotnet_diagnostic.CA1721.severity = none

# CA2008: 不要在未传递 TaskScheduler 的情况下创建任务
dotnet_diagnostic.CA2008.severity = none

# CA5351: 不要使用损坏的加密算法
dotnet_diagnostic.CA5351.severity = none

# CA2101: 指定对 P/Invoke 字符串参数进行封送处理
dotnet_diagnostic.CA2101.severity = none

# CA1307: 指定 StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1304: 指定 CultureInfo
dotnet_diagnostic.CA1304.severity = none

# CA2213: “ATSCommManager”包含 IDisposable 类型“FrameStorage”的字段“_frameStorage”，但从未进行释放。请更改“ATSCommManager”上的 Dispose 方法以对此字段调用 Close 或 Dispose。
dotnet_diagnostic.CA2213.severity = none

# CA1812: Activator 是显然从未实例化过的内部类。如果是这样，请从程序集中删除该代码。如果此内部类只用于包含静态成员，请使其成为静态类(在 Visual Basic 中为 Shared)。
dotnet_diagnostic.CA1812.severity = none

# CA1056: URI 属性不应是字符串
dotnet_diagnostic.CA1056.severity = none

# CA3075: XML 中不安全的 DTD 处理
dotnet_diagnostic.CA3075.severity = none

# CA5369: 将 XmlReader 用于反序列化
dotnet_diagnostic.CA5369.severity = none

# CA1814: 与多维数组相比，首选使用交错数组
dotnet_diagnostic.CA1814.severity = none

# CA1806: 不要忽略方法结果
dotnet_diagnostic.CA1806.severity = none
